<!--PASO 14: Actualizar el template pagina.html-->
<!--Template para paginas de historia con decisiones 
    Hereda de base.html para mantener el diseño consistente-->

    {% {% extends "historia/base.html" %}%}

    {% block content %}

        <h1>{{titulo}}</h1>

        <img src="{{imagen}}" alt="{{titulo}}" class="imagen-historia">

        <p class="texto-historia">{{texto}}</p>

        <div class="botones">
            {% for opcion un opciones%}
                <!--url: nombre de la ruta definida en urls.py
                    texto: texto que aparece en el boton-->
                    <a href="{% url opcion.url %}" class="boton">
                        {{ opcion.texto }}
                    </a>
            {% endfor %}
        </div>
    {% endblock %}